---
---

@import "{{ site.theme }}";

// @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,400&family=Space+Grotesk:wght@300;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Anaheim&display=swap');
// @import url("https://use.typekit.net/yno1izp.css");
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@200;500&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-color: lavender;
}

a, a:visited {
  color: darkslateblue;
  text-decoration-line: none;
}

a:hover, a:active {
  color: darkslateblue;
  font-weight: 700;
  text-decoration-line: underline;
}

h1, h2, h3, h4 {
  font-family: 'Jura', 'Courier New', Courier, monospace;
  font-weight: 500;
  font-style: normal;
  color: darkslateblue;
}

/*
  Mobile First! Put desktop styles below
*/

@media screen and (min-width: 768px){
  body {
    background: lavender;
  }
}
