---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Anaheim&display=swap');

body {
  background-color: lavender;
  // font-family: Roboto Mono, monospace;
  font-family: 'Anaheim', monospace;
}

a, a:visited {
  color: darkslateblue;
  text-decoration-line: none;
}

a:hover, a:active {
  text-decoration-line: underline;
}

h1, h2, h3 {
  font-family: 'Almendra Display', cursive;
}

/*
  Mobile First! Put desktop styles here
*/

@media screen and (min-width: 768px){
  body {
    background: lavender;
  }
}
