---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,400&family=Space+Grotesk:wght@300;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Anaheim&display=swap');
// @import url("https://use.typekit.net/yno1izp.css");

body {
  background-color: lavender;
  // font-family: Roboto Mono, monospace;
  //font-family: 'Anaheim', monospace;
  // font-family: 'mr-eaves-sans', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-style: normal;
  // font-size: 20px;
}

a, a:visited {
  color: darkslateblue;
  text-decoration-line: none;
}

a:hover, a:active {
  color: darkslateblue;
  font-weight: 500;
  text-decoration-line: underline;
}

h1, h2, h3 {
  // font-family: 'Almendra Display', cursive;
  //font-family: 'abolition', sans-serif;
  // font-family: 'rift', sans-serif;
  color: darkslateblue;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  // font-size: 2em;
}

/*
  Mobile First! Put desktop styles here
*/

@media screen and (min-width: 768px){
  body {
    background: lavender;
  }
}
