---
layout: post
---

{{ content }}

<!-- <script src="https://unpkg.com/bindery@2.3.0"></script> -->

<script>

    const getJSONP = (url, success) => {
        const ud = `_${+new Date()}`;
        const script = document.createElement('script');
        window[ud] = (data) => {
            document.head.removeChild(script);
            success(data);
        };
        script.src = url.replace('callback=?', `callback=${ud}`);
        document.head.appendChild(script);
    };

    let queryString = window.location.search
    let params = new URLSearchParams(queryString)
    let title = params.get('title')
    console.log(title)

    let url = 'https://sarahciston.github.io/codingcare/posts/' + title + '?'
    url += 'action=parse'
    url += '&format=json'
    url += '&prop=text'
    // url += `&page=${title}`
    // url += '&disableeditsection=true'
    // url += '&callback=?'

    let article = getJSONP(url, (data) => {
        let content = data.parse.text['*']
        console.log(content)
        let wrap = document.createElement('div')
        wrap.innerHTML = `${content}`
        success(wrap)
    })
    // let  = url + '#content'
    
    // let makeDiv = (url, (data) => {
    //     let content = data.parse.text['*']
    //     console.log(content)
    //     let wrap = document.createElement('div')
    //     wrap.innerHTML = `${content}`
    //     success(wrap)
    // })

    let article = makeDiv(url)

    
    // for ( {{ site.posts | find_exp: "title""}} ){
    //     Bindery.makeBook({ content: '#content' });
    // }
  


</script>

